@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar Style */
.nav-items{
    @apply font-bold text-base  transition duration-150 hover:text-gray-200 cursor-pointer;
}

.slidenav-items{
    @apply text-lg ease-in-out hover:text-hover-2
    w-[50%] text-center pb-1 border-b-[1px] border-white;
    transition: transform 0.3s, opacity 0.3s, color 0.5s;
}
.hamburger-slice{
    @apply w-full h-1 bg-primary rounded-full transition duration-500 ease-in-out;
}


/* Hero Slide Animation */
.slider1{
    animation: slideAnimation 4s linear infinite;
}
.slider2{
    animation: slideAnimation 6s linear infinite;
}
.slider3{
    animation: slideAnimation 8s linear infinite;
}

.slider1:hover, .slider2:hover, .slider3:hover {
    animation-play-state: paused;
    cursor: pointer;
}
@keyframes slideAnimation {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(calc(-250px*1));
    }
}



.footer-background-image{
    background: url("https://spacetoongo.com/assets/img/bg/footer-bg-lg.svg") no-repeat;
    background-size: cover;
}



.hero-background-image{
    background: url("./assets/images/sections/hero.jpg") no-repeat;
    background-size: cover;
}